{
  "openapi": "3.1.0",
  "info": {
    "title": "FastAPI",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://aiscraper.prosp.ai"
    }
  ],
  "paths": {
    "/scrape": {
      "get": {
        "summary": "Scrape",
        "operationId": "scrape_scrape_get",
        "parameters": [
          {
            "name": "prompt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The prompt for the scraper",
              "title": "Prompt"
            },
            "description": "The prompt for the scraper"
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The source for the scraper",
              "title": "Source"
            },
            "description": "The source for the scraper"
          },
          {
            "name": "llm_model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The LLM model to use",
              "default": "gpt-4-turbo-2024-04-09",
              "title": "Llm Model"
            },
            "description": "The LLM model to use"
          },
          {
            "name": "headless",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to run headless",
              "default": false,
              "title": "Headless"
            },
            "description": "Whether to run headless"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ScrapeSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string"
              }
            }
          }
        },
        "required": ["success", "data"]
      },
      "BadRequestResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "example": "An error occurred while processing the request"
          }
        },
        "required": ["success", "error"]
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }

}