{
  "openapi": "3.0.0",
  "info": {
    "title": "Campaign Management API",
    "description": "API for managing leads and campaigns",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://prosp.ai/api/lead"
    }
  ],
  "paths": {
    "/campaign": {
      "post": {
        "summary": "Add Lead to Campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadToCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead successfully added to campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key issue, contact admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LeadToCampaignRequest": {
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          }
        },
        "required": [
          "api_key",
          "linkedin_url",
          "campaign_id"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "error message"
          }
        }
      }
    }
  }
}