{
  "openapi": "3.0.1",
  "info": {
    "title": "Prosp AI",
    "description": "Documentation for Prosp AI endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://prosp.ai/api"
    }
  ],
  "paths": {
    "/enrichment-services/icypeas": {
      "post": {
        "summary": "Enrich - Icypeas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact information enriched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error occurred while enriching contact information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EnrichmentRequest": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "firstname": {
              "type": "string"
            },
            "lastname": {
              "type": "string"
            },
            "company": {
              "type": "string"
            }
          },
          "required": ["firstname", "lastname", "company"]
        }
      },
      "EnrichmentResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "firstname": {
              "type": "string"
            },
            "lastname": {
              "type": "string"
            },
            "email": {
              "type": "string"
            },
            "phone": {
              "type": "string"
            },
            "otherDetails": {
              "type": "object",
              "properties": {
                "firstname": {
                  "type": "string"
                },
                "lastname": {
                  "type": "string"
                },
                "gender": {
                  "type": "string"
                },
                "fullname": {
                  "type": "string"
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "phones": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "saasServices": {
                  "type": "array"
                }
              }
            },
            "linkedinUrl": {
              "type": "string",
              "nullable": true
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "example": {
          "error": "Error occurred while enriching contact information"
        }
      }
    }
  }
}
