{
    "openapi": "3.1.0",
    "info": {
        "title": "Lead to Campaign API",
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://prosp.ai/api"
        }
    ],
    "paths": {
        "/lead-to-campaign": {
            "post": {
                "summary": "Add a contact to a campaign",
                "operationId": "add_contact_to_campaign",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "apiKey",
                                    "type",
                                    "id",
                                    "campaign_id"
                                ],
                                "properties": {
                                    "apiKey": {
                                        "type": "string",
                                        "description": "Your API key"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "The type of filter, e.g., hubspot, prosp, or linkedinUrl",
                                        "enum": [
                                            "hubspot",
                                            "prosp",
                                            "linkedinUrl"
                                        ]
                                    },
                                    "id": {
                                        "type": "string",
                                        "description": "The value of the filter type, e.g., hubspot id, prosp id, or linkedin url"
                                    },
                                    "campaign_id": {
                                        "type": "string",
                                        "description": "Your campaign ID"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForbiddenResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "SuccessResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "success"
                    }
                }
            },
            "BadRequestResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "missing required fields request body should be \n{\"apiKey\":\"your api key\",\"type\":\"filter type ie. hubspot, prosp or linkedinUrl\",\"id\":\"filter type value ie. hubspot id, prosp id or linkedin url\",\"campaign_id\":\"your campaign id\"}"
                    }
                }
            },
            "UnauthorizedResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "invalid api key"
                    }
                }
            },
            "ForbiddenResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "invalid api key, please contact admin"
                    }
                }
            },
            "InternalServerErrorResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "error": {
                        "type": "string",
                        "example": "Error details here"
                    },
                    "message": {
                        "type": "string",
                        "example": "internal server error"
                    }
                },
                "required": [
                    "success",
                    "error",
                    "message"
                ]
            }
        }
    }
}