{
  "openapi": "3.0.0",
  "info": {
    "title": "Lead Management API",
    "description": "API for managing leads",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://prosp.ai/api"
    }
  ],
  "paths": {
    "/lead/contact": {
      "post": {
        "summary": "Add Lead to Contacts List",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadToContactsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead successfully added to contacts list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key issue or contact already in workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "List not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LeadToContactsRequest": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string"
          },
          "linkedinUrl": {
            "type": "string",
            "format": "uri"
          },
          "list_id": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "property": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "property",
                "value"
              ]
            }
          }
        },
        "required": [
          "apiKey",
          "linkedinUrl",
          "list_id"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "error message"
          }
        }
      }
    }
  }
}