{
  "openapi": "3.0.0",
  "info": {
    "title": "Voice API",
    "description": "API to send voice message to lead",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://prosp.ai"
    }
  ],
  "paths": {
    "/api/v1/leads/send-voice": {
      "post": {
        "summary": "Send a voice message to a lead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendVoiceMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voice message successfully sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key or authentication expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Invalid API key or no permission to message the user or voice not trained",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - missing required field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendVoiceMessageRequest": {
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string"
          },
          "lead": {
            "type": "string",
            "format": "uri"
          },
          "sender": {
            "type": "string",
            "format": "uri"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "api_key",
          "lead",
          "sender",
          "message"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "error message"
          }
        }
      }
    }
  }
}