{
  "openapi": "3.0.1",
  "info": {
    "title": "Prosp AI",
    "description": "Documentation for Prosp AI endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://prosp.ai/api"
    }
  ],
  "paths": {
    "/mail-engine/send-mail": {
      "post": {
        "summary": "Send e-mail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error occurred while sending email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EmailRequest": {
        "type": "object",
        "properties": {
          "to": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              }
            }
          },
          "from": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              }
            }
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "contact_id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          }
        },
        "required": ["to", "from", "html", "workspace_id", "user_id"]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "example": {
          "message": "Email sent successfully"
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "example": {
          "error": "Error occurred while sending email"
        }
      }
    }
  }
}
